<form [formGroup]="paymentForm">

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" type="number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option
        *ngFor="let paymentType of types"
        [value]="paymentType.value"
      >
        {{ paymentType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>